.hero {
    height: 95vh;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--off-white);
  }
 
  .home-container {
    position: relative;
  }
  .hero {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 95vh;
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* Overlays sobre la imagen */
  .hero-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1;
  }
  
  /* Contenedor de descripción a la izquierda */
  .logotipo{
    width: 350px;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 95%;
    background-color: var(--off-white);
    padding: 1rem;
    border-radius: 8px;
    color: var(--black-details);
    margin-bottom: 4rem;
    align-items: center;
    z-index: 2;
  }
  
  .site-description h2 {
    margin-top: 2rem;
    font-size: 35px;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.5px var(--black-details);
  }
  
  .site-description p {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    line-height: 1.2;
  }
  
  /* Contenedor del slider a la derecha */
  .hero-right {
    width: 30%;
    background-color: #e2cea79d;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 3rem;
  }
  
  .product-slider {
    width: 100%;
  }
  
  .slider-image {
    width: 100%;
    max-height: 500px;
    filter: brightness(0.9) contrast(1.1);
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: auto;
  }
  
  .slider-description p {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: var(--black-details);
    line-height: 1.4;
    text-align: center;
  }
  .slider-description{
    color: var(--black-details);
    margin-top: auto;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  /* Contenido principal inferior */
  .hero-content {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    color: var(--off-white);
  }
