.logo-image-contact{
    width: 400px;
    margin: 0;
    margin-bottom: 1rem;
}
.isotipo{
    margin-top: 0.5rem;
    width: 250px;
}
.contact-container {
    text-align: center;
    color: var(--off-white);
    padding: 50px 20px;
    font-family: 'Poppins', sans-serif;
}
.contact-background{
    background: linear-gradient(rgba(44, 62, 80, 0.679), rgba(44, 62, 80, 0.483)),
     url('../../public/images/catedral.jpg') center/cover;
    height: 100vh;
}

.contact-content {
    max-width: 600px;
    margin: auto;
    background-color: var(--flame);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-info a {
    color: var(--navy);
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    color: var(--gold);
}

.contact-buttons {
    margin-top: 20px;
}

.contact-button {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.whatsapp {
    background-color: #25D366;
    color: white;
}

.whatsapp:hover {
    background-color: #1EBE57;
}

.email {
    background-color: var(--gold);
    color: white;
}

.email:hover {
    background-color: #b89630;
}
@media (max-width: 768px) {
    .logo-image-contact {
      width: 350px;
    }
    .contact-content {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .logo-image-contact {
      width: 300px;
    }
    .isotipo {
      width: 150px;
    }
    .contact-info p {
      font-size: 20px;
    }
    .contact-button {
      padding: 10px 15px;
      font-size: 14px;
    }
  }